<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <style>
    input.ng-invalid {
        background-color:pink;
    }
    input.ng-valid {
        background-color:lightgreen;
    }
</style> -->

<body>

<form name="myForm" ng-app="myApp" ng-controller="controller" >

Username: <input name="myUsername" type="text" ng-model="user.username" required>
<span ng-show="myForm.myUsername.$touched && myForm.myUsername.$invalid">The username is required.</span><br>
Password: <input name="myPassword" type="password" ng-model="user.password" required>
<span ng-show="myForm.myPassword.$touched && myForm.myPassword.$invalid">The password is required.</span>

<br>

<button ng-click="handleRegister()">Register</button>

<span></span>

<button ng-click="handleLogin()">Login</button>

</form>

<script src="index.js">
    
</script>

</body>
</html>